body {
    width: 80%;
    padding: 20px;
    background-color: #f1f1f1;
    font-family: Raleway;
    margin: 20px auto;
}


.doc { 

    background-color: #ffffff;

} 

.pale { 

    color:#ce8383;
    display: inline;
}
